<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/task_sys/assets/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/task_sys/assets/plugins/layui/css/admin.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/task_sys/assets/css/fs.css" media="all" />
    <script type="text/javascript" src="/task_sys/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/task_sys/assets/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="/task_sys/assets/plugins/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="/task_sys/assets/plugins/frame/js/fsDict.js?v=1.5.0"></script>
    <script type="text/javascript" src="/task_sys/assets/plugins/frame/js/fs.js?v=1.5.0"></script>
    <script type="text/javascript" src="/task_sys/assets/plugins/frame/js/frame.js?v=1.5.0"></script>
    <style type="text/css">
      .userInfo {
        height:50px;
        line-height: 50px;
        font-size: "微软雅黑";
        font-size: 30px;
      }
    </style>
</head>

<body style="padding:10px;">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space3">
            <div class="layui-col-md5">
                <div class="layui-row" style="border:1px solid #F0F0F0;padding:5px;">
                    <div class="layui-row grid-demo">
                        <div class="layui-col-md3">
                            <div class="grid-demo grid-demo-bg1">
                                <img alt="" src="" width="100" height="100" id="headImg" class="layui-anim layui-anim-scaleSpring">
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="grid-demo grid-demo-bg2">
                              <div id="name" class="userInfo"></div>
                              <div id="phone" class="userInfo"></div>
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <button class="layui-btn layui-btn-normal" style="margin-top:35px" onclick="location.reload()">刷新数据</button>
                        </div>
                        <div class="layui-col-md12">
                            <div class="grid-demo grid-demo-bg3">
                                <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
                                    <div carousel-item="">
                                        <ul class="layui-row layui-col-space10 layui-this">
                                            <li class="layui-col-xs6">
                                                <a lay-href="" class="layadmin-backlog-body">
                                                    <h3>发布任务数量</h3>
                                                    <p>
                                                        <cite id='ReleaseTaskNumber'>0</cite>
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="" class="layadmin-backlog-body">
                                                    <h3>接受任务数量</h3>
                                                    <p>
                                                        <cite id='ReceiveTaskNumber'>0</cite>
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="" class="layadmin-backlog-body">
                                                    <h3>账户余额</h3>
                                                    <p>
                                                        <cite id='Money'>0</cite>
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="" class="layadmin-backlog-body">
                                                    <h3>好评数</h3>
                                                    <p>
                                                        <cite id='GoodEnvaluate'>0%</cite>
                                                    </p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                	<div id="main" style="height: 300px;width: 100%;"></div>
                </div>
            </div>
            <div class="layui-col-md7">
                <table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid" isLoad="1" url="/task_sys/actions/notice_getByTitle.action" isPage="1" defaultForm="query_form" height="full-130"></table>
                <div class="fsDatagridCols">
                    <!-- <p type="numbers" title="#"/> -->
                    <p field="title" title="名称" width="30%" />
                    <p field="admin" title="发布人" width="20%" templet="#nameTpl" />
                    <p field="time" title="发布时间" width="30%" sort="true" />
                    <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="20%" />
                </div>
                <script type="text/html" id="nameTpl">
                    {{d.admin.name}}
                </script>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="top" topUrl="/task_sys/end/user/views/notice/one.html" topMode="readonly" topWidth="800px" topHeight="600px" topTitle="查看" inputs="noticeId:">查看</a>
                </script>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
</body>

</html>
