<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv ="Pragma" content = "no-cache"/>
	<meta http-equiv="Cache-Control" content="no cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
	<link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/task_sys/assets/plugins/layui/css/layui.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="/task_sys/assets/css/fs.css" media="all"/>
	<script type="text/javascript" src="/task_sys/assets/plugins/layui/layui.js"></script>
	<script type="text/javascript" src="/task_sys/assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/task_sys/assets/plugins/frame/js/fsDict.js?v=1.5.0"></script>
	<script type="text/javascript" src="/task_sys/assets/plugins/frame/js/fs.js?v=1.5.0"></script>
	<script type="text/javascript" src="/task_sys/assets/plugins/frame/js/frame.js?v=1.5.0"></script>
</head>
<body>
   <div class="layui-fluid">
  <div class="layui-row layui-col-space1">
  	 <div class="layui-col-md12">
<div class="layui-form-query">
<form class="layui-form" id="query_form">
	<div class="layui-form-item">
		<input type="hidden" name="keys" autocomplete="off" class="layui-input" value=""/>
		<input type="hidden" name="receiveUser" autocomplete="off" class="layui-input" value="0"/>
		<div class="layui-inline">
			<label class="layui-form-mid">发布人人id：</label>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" name="releaseUser" autocomplete="off" class="layui-input"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-mid">状态：</label>
			<div class="layui-input-inline" style="width: 100px;">
				<select name="state" lay-verify="">
				  <option value="-1">所有</option>
				  <option value="0">未接受</option>
				  <option value="1">已接受</option>
				  <option value="2">已完成</option>
				  <option value="3">已取消</option>
				</select>
			</div>
		</div>
		<div class="layui-inline">
			<div class="layui-input-inline">
				<button class="layui-btn" type="button" function="query"><i class="layui-icon">&#xe615;</i>查询</button>
			</div>
		</div>
	</div>
</form>
</div>
  	 </div>
  	 <div class="layui-col-md12">
  	 	<div class="layui-row grid-demo">
	      <div class="layui-col-md3">
				<button class="layui-btn" function="refresh">
				  <i class="layui-icon">&#x1002;</i>刷新
				</button>
	      </div>
	      <div class="layui-col-md12">
	         <table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid" isLoad="1" url="/task_sys/actions/task_getByReleaseUserAndReceiveUserAndState.action" isPage="1" defaultForm="query_form" height="full-130"></table>

	         <div class="fsDatagridCols">
	         	<!-- <p type="numbers" title="#"/> -->
				<p checkbox="true"/>
			    <p field="taskId" title="ID" width="100" sort="true"/>
			    <p field="state" title="状态" width="100"  templet="#stateTpl"/>
			    <p field="name" title="任务名称" width="20%"  />
			    <p field="address" title="任务地点" width="20%"  />
			    <p field="price" title="酬劳" width="100"  />
			    <p field="releaseTime" title="发布时间" width="170" sort="true"/>
			    <p field="receiveTime" title="接受时间" width="170" sort="true"/>
			    <p field="receiveUserId" title="接受人Id" width="10%" templet="#receiveUserIdTpl" />
			    <p field="receiveUserName" title="接受人姓名" width="10%" templet="#receiveUserNameTpl" />
			    <p field="receiveUserPhone" title="接受人手机" width="10%" templet="#receiveUserPhoneTpl" />
			    <p field="content" title="详细内容" width="40%" />
			    <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="15%"/>
			</div>
			<script type="text/html" id="stateTpl">
				{{# if(d.state == 0){ }}
					<span class="layui-badge layui-bg-blue">未接受</span>
				{{# }else if(d.state == 1) { }}
					<span class="layui-badge layui-bg-orange">已接受</span>
				{{# }else if(d.state == 2) { }}
					<span class="layui-badge layui-bg-green">已完成</span>
				{{# }else if(d.state == 3) { }}
					<span class="layui-badge">已取消</span>
				{{# }else{ }}
					<span class="layui-badge layui-bg-gray">未知状态</span>
				{{# } }}
			</script>
			<script type="text/html" id="receiveUserIdTpl">
				{{# if(d.receiveUser != null) { }}
					{{d.receiveUser.userId}}
				{{# } }}
			</script>
			<script type="text/html" id="receiveUserNameTpl">
				{{# if(d.receiveUser != null) { }}
					{{d.receiveUser.name}}
				{{# } }}
				
			</script>
			<script type="text/html" id="receiveUserPhoneTpl">
				{{# if(d.receiveUser != null) { }}
					{{d.receiveUser.phone}}
				{{# } }}
			</script>
			<script type="text/html" id="barDemo">
				{{# if(d.state == 0) { }}
  					<a class="layui-btn layui-btn-danger layui-btn-xs" onclick="cancelTaskNotConfirm({{d.taskId}})">取消</a>
				{{# }else if(d.state == 1) { }}
					<a class="layui-btn layui-btn-xs" onclick="confirmTask({{d.taskId}})">确认</a>
					<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event='clickFunction' functionName='chat'>交谈</a>
					<a class="layui-btn layui-btn-danger layui-btn-xs" onclick="cancelTaskConfirmed({{d.taskId}})">取消</a>
				{{# }else if(d.state == 2 && !d.receiveIsEnvaluate){ }}
					<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="openNewWindow" windowUrl="/task_sys/end/views/envaluate.html?task={{d.taskId}}"  windowWidth="600px" windowHeight="300px" windowTitle="评价">评价</a>
				{{# } }}
			</script>
	      </div>
	    </div>

  	 </div>

  </div>
</div>
</body>
</html>
<div id="chose-time" style="width: 400px;margin-top: 10px;display: none;">
    <div class="layui-inline">
	    <label class="layui-form-label">截止时间</label>
	    <div class="layui-input-inline" style="width: 200px;">
	      	<input type="text" name="" autocomplete="off" class="layui-input">
	    </div>
  </div>
</div>
<script type="text/javascript">
	layui.use(['layer','laydate'],function () {

		var layer = layui.layer,
		laydate = layui.laydate;
		window.confirmTask = function (taskId){
			layer.load(2);
			$.ajax({
		        url: '/task_sys/actions/task_confirmTask.action',
		        type: 'POST',
		        dataType: 'json',
		        data: {
		        	taskId:taskId
		        },
		        success: function(data) {
		          	layer.closeAll('loading');
		          	layer.msg("确认成功", {
				      icon: 6
				  	});
		          	$('button[function="refresh"]').click();
		          
		        },
		        error: function(data) {
		        	layer.closeAll('loading');
					if(data.responseJSON != undefined) {
						layer.msg(data.responseJSON.error, {
					      icon: 5
					  	});
					}else{
						layer.msg("系统错误", {
					      icon: 5
					  	});
					}
		        }
		    });
		}
		
		window.cancelTaskNotConfirm = function (taskId){
			layer.load(2);
			$.ajax({
		        url: '/task_sys/actions/task_cancelTask.action',
		        type: 'POST',
		        dataType: 'json',
		        data: {
		        	taskId:taskId
		        },
		        success: function(data) {
		          	layer.closeAll('loading');
		          	layer.msg("确认成功", {
				      icon: 6
				  	});
		          	$('button[function="refresh"]').click();
		          
		        },
		        error: function(data) {
		        	layer.closeAll('loading');
					if(data.responseJSON != undefined) {
						layer.msg(data.responseJSON.error, {
					      icon: 5
					  	});
					}else{
						layer.msg("系统错误", {
					      icon: 5
					  	});
					}
		        }
		    });
		}
		
		window.cancelTaskConfirmed = function (taskId){
			layer.prompt({
				  formType: 2,
				  value: '',
				  title: '请输入取消原因',
				  area: ['400px', '100px'] //自定义文本域宽高
				}, function(value, index, elem){
				  if(value == ""){
					  layer.msg("请输入原因", {
					      icon: 5
					  	});
				  }else{
					  layer.close(index);
					  layer.load(2);
						$.ajax({
					        url: '/task_sys/actions/cancelApply_add.action',
					        type: 'POST',
					        dataType: 'json',
					        data: {
					        	task:taskId,
					        	reason:value
					        },
					        success: function(data) {
					          	layer.closeAll('loading');
					          	layer.msg("申请成功,正在等待对方确认", {
							      icon: 6
							  	});
					          
					        },
					        error: function(data) {
					        	layer.closeAll('loading');
								if(data.responseJSON != undefined) {
									layer.msg(data.responseJSON.error, {
								      icon: 5
								  	});
								}else{
									layer.msg("系统错误", {
								      icon: 5
								  	});
								}
					        }
					    });
				  }
				  
				});
			
		}
		
		window.chat = function(data){
			parent.chat(data.releaseUser);
		}
	});
	
</script>
