<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8" />
    <title>便捷校园-私信</title>
    <meta name="keywords" content="fsLayuiPlugin,layui,layuiPlugin,layuiæä»¶,layuiå¿«éå¼åæä»¶" />
    <meta name="description" content="fsLayuiPlugin,layui,layuiPlugin,layuiæä»¶,layuiå¿«éå¼åæä»¶" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/task_sys/assets/plugins/layui/css/layui.css" media="all" />
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/task_sys/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/task_sys/assets/plugins/layui/layui.js"></script>
    <style type="text/css">
    	html,body{
    		background:#eee;
    		color:black;
   
    	}
    </style>
</head>

<body>
    <div class="layui-layout layui-layout-admin" id="content" style="padding: 10px;"> </div>
</body>

</html>
<script>
function GetQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return null;
}
layui.use(["layer"], function() {

    var layer = layui.layer;

    layer.load(2);
    $.ajax({
        url: '/task_sys/actions/privateMessage_getByIds.action',
        type: 'POST',
        dataType: 'json',
        data: {
            ids: GetQueryString("privateMessageId")
        },
        success: function(data) {
        	if(data.resultList.length > 0){
        		var content = data.resultList[0]["content"];
            	$('#content').html(content);
        	}else{
        		windos.location = "/ppp";
        	}
            layer.closeAll('loading');
        },
        error: function(data) {
            layer.closeAll('loading');
        }
    });

});
</script>